<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Règles</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                {% for rule in site.rule %}
              
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa {{ rule.icon }} fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ rule.title }}</h4>
                    <p class="text-muted">{{ rule.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>